@inject IHttpContextAccessor HttpContextAccessor;


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
 @*   <link rel="icon" href="path/to/english-icon.png" sizes="16x16" type="image/png">
    <link rel="icon" href="path/to/vietnamese-icon.png" sizes="16x16" type="image/png">*@
@*    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-H+KQOVFajAqldxUe9/ijzpOTNNx4B47uvimCzJZ17WJ8c1o4eS/RbBThTlMYNQ8Bu7Q4JugG2PD3b5gJAdqOAA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />*@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            /*background-color: linear-gradient(in srgb to right, #12c2e9, #c471ed, #f64f59);*/

            background: linear-gradient(to left, #6699ff 0%, #ff99cc 100%);
            /* Màu nền của trang */
        }

        #container {
            background-color: #ffffff;
            /* Màu nền của container */
            border-radius: 8px;
            /* Bo góc container */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /* Hiệu ứng bóng đổ */
            margin: 20px;
            max-width: 100%;
            /* Chiều rộng tối đa của container */
        }

        .content-main {
            width: 100%;
        }

        #content-main-dashboard {
            width: 100%;
            border: 1px solid sandybrown;
        }

        #header {
            background: linear-gradient(to left, #6699ff 0%, #cc33ff 100%);
            /* Màu nền của header */
            color: #ffffff;
            /* Màu chữ của header */

            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        #logo-admin {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        #banner-admin {
            text-align: right;
            padding-top: 10px;
        }

            #banner-admin ul li {
                margin-left: 20px;
                display: inline-block;
            }

        #content {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #content-left {
            width: 17%;
            height: auto;
            /* Thay đổi chiều rộng sidebar thành 30% */
            /* margin-right: 20px; */
            /* Thêm khoảng trắng giữa content-left và content-right */

            background: linear-gradient(to bottom, #003366 0%, #666699 100%);
            /* Màu nền xám của content-left */
            border-radius: 8px;
            /* Bo góc content-left */
            padding: 10px;
        }

            #content-left h3 {
                border-bottom: 1px solid sienna;
                text-align: center;
                padding: 10px 0px;
                color: white;
                /* Màu chữ trong content-left */
            }

            #content-left ul {
                list-style: none;
                padding: 0;
            }

                #content-left ul li {
                    padding: 10px 0px 10px 10px;
                    border-bottom: 1px solid #dee2e6;
                    /* Đường gạch chia giữa các mục sidebar */
                    color: white;
                    /* Màu chữ trong content-left */
                    transition: background-color 0.3s;
                    /* Hiệu ứng màu nền khi hover */
                }

                    #content-left ul li:hover {
                        background-color: sienna;
                        cursor: pointer;
                        color: white;
                    }

                #content-left ul a {
                    color: white;
                    text-decoration: none;
                }

        #content-left-admin {
            color: white;
            margin-top: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            /* Hiệu ứng màu nền khi hover */
        }

            #content-left-admin:hover {
                background-color: #333333;
            }

        #admin-dropdown {
            display: none;
        }

        #content-right {
            width: 83%;
            /* Thay đổi chiều rộng content-right thành 70% */
        }




        #footer-admin {
            background-color: #007bff;
            /* Màu nền của footer */
            color: #ffffff;
            /* Màu chữ của footer */
            padding: 10px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-top: 20px;
        }

        .moda {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 10px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 20%; /* Full height */
            
        }
        /* Modal Content */
        .moda-content {
            background-color: #0FFF4B;
            border-radius: 10px;
            text-align: center;
            margin: auto;
            padding: 0;
            width: 50%;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        .moda-body {
            padding: 20px 50px 20px 50px;
            border-radius: 10%;
        }

        /* Add Animation */
        @@-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @@keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }
    </style>
</head>

<body>
    <div id="NotificationModal" class="moda">
        <!-- Modal Notification -->
        <div class="moda-content" id="notifaiDiv">
            <div class="moda-body">
                <h5 id="notifai">@(HttpContextAccessor.HttpContext.Session.GetString("Notification") ?? "")</h5>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="header">
            <div id="logo-admin">
                Admin - Opuslink
            </div>
            <div id="banner-admin">
                <ul>
                    <!-- Liên kết SignOut đã được xóa -->
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="content-left">
                <h3>OpusLink</h3>
                @{
                    string pageNow = HttpContextAccessor.HttpContext.Session.GetString("PageNow") ?? "";
                    string a = "", b = "", c = "", d = "", e = "", f = "", g = "";
                    if (pageNow.Equals("Dashboard"))
                    {
                        a = "background-color: sienna"; b = ""; c = ""; d = ""; e = ""; f = ""; g = "";
                    }
                    else if (pageNow.Equals("ManageUser"))
                    {
                        a = ""; b = "background-color: sienna"; c = ""; d = ""; e = ""; f = ""; g = "";
                    }
                    else if (pageNow.Equals("ManageJob"))
                    {
                        a = ""; b = ""; c = "background-color: sienna"; d = ""; e = ""; f = ""; g = "";
                    }
                    else if (pageNow.Equals("ManageCategory"))
                    {
                        a = ""; b = ""; c = ""; d = "background-color: sienna"; e = ""; f = ""; g = "";
                    }
                    else if (pageNow.Equals("ManageSkill"))
                    {
                        a = ""; b = ""; c = ""; d = ""; e = "background-color: sienna"; f = ""; g = "";
                    }
                    else if (pageNow.Equals("ManageWallet"))
                    {
                        a = ""; b = ""; c = ""; d = ""; e = ""; f = "background-color: sienna"; g = "";
                    }
                    else if (pageNow.Equals("ManageJobRequest"))
                    {
                        a = ""; b = ""; c = ""; d = ""; e = ""; f = ""; g = "background-color: sienna";
                    }
                    else if (pageNow.Equals("ManagerWithDrawRequest"))
                    {
                        a = ""; b = ""; c = ""; d = ""; e = ""; f = ""; g = "background-color: sienna";
                    }
                }
                <ul>
                    <a asp-page="/Dashboard/DashboardAdmin" asp-route-year="2024">
                    @* <li style="@a">Dashboard</li> *@
                    <li style="@a">Tổng quan</li>
                    </a>
                    <a asp-page="/ManageUser/Views">
                    @* <li style="@b">Manage User</li> *@
                    <li style="@a">Quản lý người dùng</li>
                    </a>
                    <a asp-page="/JOB/AdminViewAllJobPage">
                    @* <li style="@c">Manage Job</li> *@
                    <li style="@a">Quản lý Job</li>
                    </a>
                    <a asp-page="/JOB/AdminCRUDCategoryPage">
                    @* <li style="@d">Manage Category</li> *@
                    <li style="@a">Quản lý Category</li>
                    </a>
                    <a asp-page="/ManageSkill/Views">
                    @* <li style="@e">Manage Skill</li> *@
                    <li style="@a">Quản lý Skill</li>
                    </a>
                    <a asp-page="/Admin/Employee/Index">@*Copy cai nay vao OnGet cua ManageWallet: HttpContext.Session.SetString("PageNow", "ManageWallet");*@
                    @* <li style="@f">Manage Wallet</li> *@
                    <li style="@f">Quản lý ví tiền</li>
                    </a>
                    <a asp-page="/JOB/AdminViewListJobRequestedPage">
                    @* <li style="@g">Manage Job Request</li> *@
                    <li style="@g">Quản lý yêu cầu tạo Job</li>
                    </a>
                    @*<a asp-page="/Admin/Customer/Index">
                    <li>Resquest</li>
                    </a>*@
@*                     <a asp-page="/Report/ReportUserList">   
                    <li style="@g">Report User List</li>
                    </a> *@
                    <a asp-page="/ManagerWithDrawRequest/Views">
                   @*  <li style="@g">ManagerWithDrawRequest</li> *@
                    <li style="@g">Quản lý yêu cầu rút tiền</li>
                    </a>
                   
                    
                </ul>
                <div id="content-left-admin" class="dropdown" onclick="toggleAdminPanel()">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="adminDropdownButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin <i id="setting-icon" class="bi bi-gear"></i>
                    </button>
                    <div id="admin-dropdown" class="dropdown-menu" aria-labelledby="adminDropdownButton">
                        <a class="dropdown-item" asp-page="/Admin/Profile/Index">Thông tin Admin</a>
                        <button class="dropdown-item" onclick="logout()">Đăng xuất</button>
                    </div>
                </div>
            </div>
            <div id="content-right">
                <div class="content-main">
                    @RenderBody()
                </div>

                <!-- Thêm nội dung mới vào đây nếu cần -->
            </div>
        </div>
        <!-- <div id="footer-admin">footer</div> -->

        <script src="~/js/site.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/dist/js/bootstrap-icons.min.js"></script>
        <script>
            function toggleAdminPanel() {
                var adminPanel = document.getElementById('admin-dropdown');
                adminPanel.style.display = (adminPanel.style.display === 'none' || adminPanel.style.display === '') ? 'block' : 'none';
            }

            function logout() {
                // Add logout logic here
            }
        </script>
        
        <script>
            //thong bao hien ra 3 giay roi an di
            function displayMessage() {
                var message = document.getElementById("NotificationModal");
                message.style.display = "block";
                setTimeout(function () {
                    message.style.display = "none";
                }, 3000); // 3000 milliseconds = 3 seconds
            }
        </script>
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("NotiIsNew") == 1)
        {
            <script>
                displayMessage();
            </script>
            HttpContextAccessor.HttpContext.Session.SetInt32("NotiIsNew", 0);

        }
    </div>
</body>

</html>