@inject IHttpContextAccessor HttpContextAccessor;
@using OpusLink.Shared.Enums;
@using OpusLink.Shared.Constants
@{
    string currentRole = HttpContextAccessor.HttpContext.Session.GetString("Role") ?? "Guest";
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") ?? null;
    string userName = HttpContextAccessor.HttpContext.Session.GetString("userName") ?? null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <title>Trang chủ</title>
    <style>
        .dropdown-item {
            background-color: #f2f2f2;
            border-bottom: 1px solid #ccc;
        }

            .dropdown-item:hover {
                background-color: #e0e0e0; /* Màu nền khi hover */
            }

            .dropdown-item a {
                color: black;
                text-decoration: none;
    </style>
</head>
<body>
    <!-- Header -->
    <header class="bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                @if (currentRole.Equals("Guest") || currentRole.Equals("Freelancer"))
                {
                    <a class="navbar-brand" asp-area="" asp-page="/JOB/FreelancerViewAllJobPage" style="font-size:30px;color: #4B32E8;font-weight:bold">OPUSLINK</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobPage" style="color:#5038ED;margin:0px 10px 0px 10px">Tìm việc</a>
                            </li>

                            @if (currentRole.Equals("Freelancer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobOfferedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Quản lý Offer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobSavedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Việc đã lưu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Chat/ChatList" asp-route-userId="@userId" asp-route-role="@((int)Roles.Freelancer)" style="color:#5038ED;margin:0px 10px 0px 10px">Tin nhắn</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../Freelancer/Profile/Views?UserId=@userId" style="color:#5038ED;margin:0px 10px 0px 10px">Xin chào, @userName</a>
                                </li>
                            }

                            @if (currentRole.Equals("Guest"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Account/Login" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Account/Register" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng ký</a>
                                </li>
                            }

                            <ul class="navbar-nav ms-auto">
                                @if (currentRole.Equals("Guest")) { }
                                @if (currentRole.Equals("Freelancer"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="walletDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-wallet"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="walletDropdown">

                                            <p class="dropdown-item-text" id="amount"> </p>
                                            <p class="dropdown-item-text" id="amountforms" hidden> </p>
                                            <button class="btn btn-primary dropdown-item" onclick="napTien()">Nạp tiền</button>
                                            <button class="btn btn-primary dropdown-item" onclick="rutTien()">Rút tiền</button>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bell"></i>
                                            <span class="badge bg-danger" id="notificationBadge"></span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                                            <p class="dropdown-item-text">Bạn có  thông báo mới</p>
                                            <ul class="list-unstyled" id="listNotification">
                                            </ul>
                                            <a href="/Notification/ViewsNotification?UserId=@userId" class="dropdown-item view-all">Xem tất cả</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-user"></i> <span>Freelancer</span> <!-- Icon hình thể hiện đang ở role nào -->
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                                            <form asp-page="/Index" asp-page-handler="ChangeTokenAboutRole" method="post">
                                                <button class="dropdown-item">Chuyển sang: Nhà Tuyển Dụng</button>
                                            </form>
                                            <a class="dropdown-item" href="../Freelancer/Profile/Views?UserId=@userId">Hồ sơ cá nhân</a>
                                            <div class="dropdown-divider"></div>
                                            <form asp-page="/Index" asp-page-handler="ForLogOut" method="post">
                                                <button class="dropdown-item">Đăng xuất</button>
                                            </form>
                                        </div>
                                    </li>
                                }
                            </ul>
                    </div>
                }
                @* Cho Role Employer *@
                else
                {
                    <a class="navbar-brand" asp-area="" asp-page="/JOB/EmployerViewAllJobCreatedPage" style="font-size:30px;color: #4B32E8;font-weight:bold">OPUSLINK</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/EmployerCreateAJobPage" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng việc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/EmployerViewAllJobCreatedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Việc đã tạo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Chat/ChatList" asp-route-userId="@userId" asp-route-role="@((int)Roles.Employer)" style="color:#5038ED;margin:0px 10px 0px 10px">Tin nhắn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Employer/Profile/Views?id=@userId" style="color:#5038ED;margin:0px 10px 0px 10px">Xin chào, @userName</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="walletDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-wallet"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="walletDropdown">

                                    <p class="dropdown-item-text" id="amount"> </p>
                                    <p class="dropdown-item-text" id="amountforms" hidden> </p>

                                    <button class="btn btn-primary dropdown-item" onclick="napTien()">Nạp tiền</button>
                                    <button class="btn btn-primary dropdown-item" onclick="rutTien()">Rút tiền</button>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                    <span class="badge bg-danger" id="notificationBadge"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                                    <p class="dropdown-item-text">Bạn có thông báo mới</p>
                                    <ul class="list-unstyled" id="listNotification">
                                    </ul>
                                    <a href="/Notification/ViewsNotification?UserId=@userId" class="dropdown-item view-all">Xem tất cả</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i> <span>Tuyển dụng</span> <!-- Icon hình thể hiện đang ở role nào -->
                                </a>
                                <a href="abc"></a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <form asp-page="/Index" asp-page-handler="ChangeTokenAboutRole" method="post">
                                        <button class="dropdown-item">Chuyển sang: Freelancer</button>
                                    </form>
                                    <a class="dropdown-item" href="../Employer/Profile/Views?UserId=@userId">Hồ sơ cá nhân</a>
                                    <div class="dropdown-divider"></div>
                                    <form asp-page="/Index" asp-page-handler="ForLogOut" method="post">
                                        <button class="dropdown-item">Đăng xuất</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-mt5">
        <main role="main" class="pb-3">
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    @Html.Partial("~/Pages/Shared/Footer.cshtml");

    <!-- SCRIPT -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function rutTien() {
            // Xử lý logic khi rút tiền
            window.location.href = '/WithDrawMoney/WithDrawMoneyRequest?UserId=@userId';
        }
        function napTien() {
            window.location.href = '/VnPayment/AddMoneyToWallet?UserId=@userId';
        }
        function LoadUserInformation() {
            $.ajax({
                url: "@(UrlConstant.ApiBaseUrl + "/User/GetUserById/")" + @userId,
                type: "GET",
                headers: {
                    "ngrok-skip-browser-warning": true
                },
                contentType: "application/json",
                success: function (result, status, xhr) {


                    // Assuming result contains user information
                    // Update the HTML element with the user information
                    document.getElementById("amount").innerHTML = result["amountMoney"].toLocaleString('en', { maximumFractionDigits: 0 }) + " ₫"; // Assuming result is the user information
                    document.getElementById("amountforms").innerHTML = result["amountMoney"]
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error("Error loading user information:", error);
                }
            });
            $.ajax({
                url: "@(UrlConstant.ApiBaseUrl + "/Notification/CountNotificationNew/")" + @userId,
                type: "GET",
                headers: {
                    "ngrok-skip-browser-warning": true
                },
                contentType: "application/json",
                success: function (result, status, xhr) {


                    // Assuming result contains user information
                    // Update the HTML element with the user information
                    document.getElementById("notificationBadge").innerHTML += result; // Assuming result is the user information
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error("Error loading user information:", error);
                }
            });

            $.ajax({
                url: "@(UrlConstant.ApiBaseUrl + "/Notification/Get5NotificationNew/")" + @userId,
                type: "GET",
                headers: {
                    "ngrok-skip-browser-warning": true
                },
                contentType: "application/json",
                success: function (result, status, xhr) {
                    var fivecodeline = "";
                    var domain = "@(UrlConstant.UserClientBaseUrl + "/Index?handler=ForNotificationDetail&link=")";
                    $.each(result, function (index, value) {
                        if (value["isReaded"] == true) {
                            fivecodeline += "<li class=\"dropdown-item\"><a style=\"color\:#B0B8B3\" href=\"" + domain + encodeURIComponent(value["link"]) + "&notiId=" + value["notificationID"] + "\">" + value["notificationContent"] + "</a></li>";
                        } else {
                            fivecodeline += "<li class=\"dropdown-item\"><a href=\"" + domain + encodeURIComponent(value["link"]) + "&notiId=" + value["notificationID"] + "\">" + value["notificationContent"] + "</a></li>";
                        }

                    });
                    // Assuming result contains user information
                    // Update the HTML element with the user information
                    document.getElementById("listNotification").innerHTML = fivecodeline; // Assuming result is the user information
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error("Error loading user information:", error);
                }
            });
        }
        addOnLoadFunction(LoadUserInformation);
    </script>
    <script>
        function addOnLoadFunction(func) {
            var oldOnLoad = window.onload;
            if (typeof oldOnLoad == 'function') {
                window.onload = function () {
                    oldOnLoad();
                    func();
                };
            } else {
                window.onload = func;
            }
        }
    </script>
</body>
</html>

