@inject IHttpContextAccessor HttpContextAccessor;
@using OpusLink.Shared.Enums;
@{
    string currentRole = HttpContextAccessor.HttpContext.Session.GetString("Role") ?? "Guest";
    string userId = HttpContextAccessor.HttpContext.Session.GetString("UserId") ?? null;
    string userName = HttpContextAccessor.HttpContext.Session.GetString("userName") ?? null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/HomePage.css">
    <title>Trang chủ</title>
</head>
<body>
    <!-- Header -->
    <header class="bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#" style="font-size:30px;color: #4B32E8;font-weight:bold">OPUSLINK</a>
                @if (currentRole.Equals("Guest") || currentRole.Equals("Freelancer"))
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobPage" style="color:#5038ED;margin:0px 10px 0px 10px">Tìm việc</a>
                            </li>

                            @if (currentRole.Equals("Freelancer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobOfferedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Quản lý Offer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/JOB/FreelancerViewAllJobSavedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Việc đã lưu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Chat/ChatList" asp-route-userId="@userId" asp-route-role="@((int)Roles.Freelancer)" style="color:#5038ED;margin:0px 10px 0px 10px">Tin nhắn</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../Freelancer/Profile/Views?id=@userId" style="color:#5038ED;margin:0px 10px 0px 10px">Xin chào, @userName</a>
                                </li>
                            }

                            @if (currentRole.Equals("Guest"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Account/Login" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Account/Register" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng ký</a>
                                </li>
                            }

                            <ul class="navbar-nav ms-auto">
                                @if (currentRole.Equals("Guest")){}
                                @if (currentRole.Equals("Freelancer"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="walletDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-wallet"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="walletDropdown">

                                            <p class="dropdown-item-text" id="amount"> </p>
                                            <button class="btn btn-primary dropdown-item" onclick="napTien()">Nạp tiền</button>
                                            <button class="btn btn-primary dropdown-item" onclick="rutTien()">Rút tiền</button>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bell"></i>
                                            <span class="badge bg-danger" id="notificationBadge">3</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                                            <p class="dropdown-item-text">Bạn có 3 thông báo mới</p>
                                            <ul class="list-unstyled">
                                                <li class="dropdown-item">Thông báo 1</li>
                                                <li class="dropdown-item">Thông báo 2</li>
                                                <li class="dropdown-item">Thông báo 3</li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-user"></i> <span>Freelancer</span> <!-- Icon hình thể hiện đang ở role nào -->
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                                            <form asp-page="/Index" asp-page-handler="ChangeTokenAboutRole" method="post">
                                                <button class="dropdown-item">Chuyển sang: Tuyển Dụng</button>
                                            </form>
                                            <a class="dropdown-item" href="../Freelancer/Profile/Views?id=@userId">Hồ sơ cá nhân</a>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" class="openModal" id="@userId" data-userid="@userId">
                                                Báo cáo
                                            </button>
                                            <form asp-page="/Index" asp-page-handler="ForLogOut" method="post">
                                                <button class="dropdown-item">Đăng xuất</button>
                                            </form>
                                        </div>
                                    </li>
                                }
                            </ul>
                    </div>
                }
                @* Cho Role Employer *@
                else 
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/EmployerCreateAJobPage" style="color:#5038ED;margin:0px 10px 0px 10px">Đăng việc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/JOB/EmployerViewAllJobCreatedPage" style="color:#5038ED;margin:0px 10px 0px 10px">Việc đã tạo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Chat/ChatList" asp-route-userId="@userId" asp-route-role="@((int)Roles.Employer)" style="color:#5038ED;margin:0px 10px 0px 10px">Tin nhắn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Freelancer/Profile/Views?id=@userId" style="color:#5038ED;margin:0px 10px 0px 10px">Xin chào, @userName</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="walletDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-wallet"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="walletDropdown">

                                    <p class="dropdown-item-text" id="amount"> </p>
                                    <button class="btn btn-primary dropdown-item" onclick="napTien()">Nạp tiền</button>
                                    <button class="btn btn-primary dropdown-item" onclick="rutTien()">Rút tiền</button>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                    <span class="badge bg-danger" id="notificationBadge">3</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                                    <p class="dropdown-item-text">Bạn có 3 thông báo mới</p>
                                    <ul class="list-unstyled">
                                        <li class="dropdown-item">Thông báo 1</li>
                                        <li class="dropdown-item">Thông báo 2</li>
                                        <li class="dropdown-item">Thông báo 3</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i> <span>Tuyển dụng</span> <!-- Icon hình thể hiện đang ở role nào -->
                                </a>

                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <form asp-page="/Index" asp-page-handler="ChangeTokenAboutRole" method="post">
                                        <button class="dropdown-item">Chuyển sang: Freelancer</button>
                                    </form>
                                    <a class="dropdown-item" href="../Freelancer/Profile/Views?id=@userId">Hồ sơ cá nhân</a>
                                    <div class="dropdown-divider"></div>
                                    <button type="button" class="openModal" data-userid="@userId">
                                        Báo cáo
                                    </button>
                                    <form asp-page="/Index" asp-page-handler="ForLogOut" method="post">
                                        <button class="dropdown-item">Đăng xuất</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        </div>
    </header>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Nội dung modal -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="modalForm">
                <input type="hidden" id="modalUserID" name="userID" />
                <h3 style="text-align: center;">Báo cáo tài khoản</h3>
                <label for="cutoffDate">
                    Bạn đang báo cáo tài khoản khác
                </label>
                <br />
                <br />
                <label for="reason">UserId báo cáo</label><br>
                <input type="number" id="ReportToUserId" name="ReportToUserId" />
                <br />
                <label for="reason">Lý do báo cáo</label><br>
                <textarea id="reason" name="reason" rows="4" cols="50"></textarea><br>
                <button type="submit" class="confirm-button" onclick="submitForm(this.id)">Xác nhận</button>
            </form>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container-mt5">
        <main role="main" class="pb-3">
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
@*     <footer class="bg-dark text-light mt-5">
        <div class="container text-center">
            <p>&copy; 2024 Your Website. All Rights Reserved.</p>
        </div>
    </footer> *@
    @Html.Partial("~/Pages/Shared/Footer.cshtml");

    <!-- SCRIPT -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function rutTien() {
            // Xử lý logic khi rút tiền
            window.location.href = '/WithDrawMoney/WithDrawMoneyRequest';
        }
        function napTien() {
            window.location.href = '/VnPayment/AddMoneyToWallet';
        }
        function LoadUserInformation() {
            $.ajax({
                url: "https://localhost:7265/api/User/GetUserById/1",
                type: "GET",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    
                      
                        // Assuming result contains user information
                        // Update the HTML element with the user information
                                document.getElementById("amount").innerHTML += result["amountMoney"]; // Assuming result is the user information
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.error("Error loading user information:", error);
                    }
                });
        }

                 
        window.onload = function () {
            LoadUserInformation();
        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Open Modal
            $(".openModal").click(function () {
                var userID = $(this).data("userid");
                console.log(userID);
                $("#modalUserID").val(userID);
                $("#reason").val(""); // Xóa giá trị của trường textarea
                $("#ReportToUserId").val("");
                $("#myModal").css("display", "block");
            });

            // Close Modal
            $(".close").click(function () {
                $("#myModal").css("display", "none");
            });

            // Submit Form
            $(".confirm-button").click(function () {

                // Ajax request
                var obj = {
                    createByUserID: $("#modalUserID").val(),
                    targetToUserID: $("#ReportToUserId").val(),
                    reportUserContent: $("#reason").val()
                };

                $.ajax({
                    url: `https://localhost:7265/api/ReportAccount`,
                    method: 'POST',
                    data: JSON.stringify(obj),
                    contentType: 'application/json',
                    success: (data) => {
                        alert("Report Account Successfully!");
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText); // Log lỗi chi tiết để dễ dàng debug
                        alert("Report Account Failed!");
                    }
                });

                // Đóng modal sau khi submit
                $("#myModal").css("display", "none");
            });
        });
    </script>
</body>
</html>

