@page "{SkillId:int?}"
@using OpusLink.Shared.Constants
@inject IHttpContextAccessor HttpContextAccessor;
@model OpusLink.Admin.Hosted.Pages.ManageSkill.ViewsModel
@{
}
<style>
    /*pagination*/
    .pagin {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: none;
        transition: background-color 0.2s;
    }

        .pagin:hover {
            background-color: #0088CC;
            color: white;
        }
</style>
<body>

    <!-- Main Content -->
    <div class="container mt-5">
        <form method="post">
            <!-- Thanh tìm kiếm và nút "Add New" trong một thẻ div -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <div class="input-group">
                        <input type="text" name="Search_Str" value="@Model.filter.SearchStr" class="form-control" placeholder="Search by Name">
                        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="ForSearch" name="pageNo_1" value="1">Search</button>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSkillModal">Add New</button>
                </div>
            </div>

            <!-- Bảng kỹ năng -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Skill Parent</th>
                        <th scope="col">Skill Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.listSkills != null)
                    {

                        <!-- Dữ liệu của bảng sẽ được thêm ở đây -->
                        @foreach (var item in Model.listSkills)
                        {

                            @* var displaySkillName = string.IsNullOrEmpty((item.SkillParentID).ToString()) ? item.SkillName: $"{item.SkillName} ({item.SkillParentID})";
                    var displaySkillName1 = item.SkillParentID == item.SkillID
                    ? displaySkillName
                    : $"{item.SkillName} ({item.SkillParentID})"; *@

                            <tr>
                                <th scope="row" name="@item.SkillID" id="SkillID_@item.SkillID">@item.SkillID</th>
                                <td>
                                    @if (item.SkillParentID != 0)
                                {
                                    <div style="display:inline-block" id="ParentID_@item.SkillID">@item.SkillParentID</div>
                                    <span>-</span>
                                    @item.SkillParentName
                                }

                                </td>
                                <td id="SkillName_@item.SkillID">@item.SkillName</td>
                                <td>
      
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editSkillModal" data-skillid="@item.SkillID" onclick="OpenUpdateSkill(@item.SkillID)"><i class="fas fa-edit"></i> Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete(@item.SkillID)"><i class="fas fa-trash-alt"><i class="fas fa-trash-alt"></i>Delete</button>
                                </td>
                            </tr>
                            <!-- Modal Edit -->
                            <div class="modal fade" id="editSkillModal-@item.SkillID" tabindex="-1" aria-labelledby="editSkillModalLabel" aria-hidden="true">
                                <!-- Modal content goes here -->
                            </div>
                            <!-- Thêm các dòng khác nếu cần -->
                        }
                    }

                </tbody>
            </table>
            <div style="display:flex;justify-content:center;">
                @for (int i = 1; i <= Model.NumberOfPage; i++)
                {
                    @if (i == Model.PageNo)
                    {
                        <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                            <button class="pagin" asp-page-handler="ForSearch" style="background-color:#0088CC; color:white" type="submit" name="pageNo_@i" value="@i">@i</button>
                        </div>
                    }
                    else
                    {
                        <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                            <button class="pagin" asp-page-handler="ForSearch" type="submit" name="pageNo_@i" value="@i">@i</button>
                        </div>
                    }
                }
            </div>
        </form>
    </div>

    <!-- Modal add new Skill -->
    <div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillModalLabel">Add New Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form thêm mới sẽ được thêm ở đây -->
                    <form id="addSkillForm" method="post">
                        <div class="mb-3">
                            <label for="skillParentID" class="form-label">Skill Parent</label>
                            <select name="SkillParentID">
                                <option value="0">No Parent</option>
                                @foreach (var item in Model.AllSkills)
                                {
                                    <option value="@item.SkillID">@item.SkillID<span>-</span>@item.SkillName</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="skillName" class="form-label">Skill Name</label>
                            <input type="text" class="form-control" id="skillName" name="SkillName" required>
                        </div>
                        <!-- Thêm các trường khác nếu cần -->
                        <button type="submit" asp-page-handler="ForAdd" class="btn btn-primary">Add Skill</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Edit -->
    <div class="modal fade" id="editSkillModal" tabindex="-1" aria-labelledby="editSkillModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSkillModalLabel">Edit Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form chỉnh sửa sẽ được thêm ở đây -->
                    <form id="editSkillForm" method="post">
                        <input type="hidden" id="editSkillId" name="SkillID" value="" /> <!-- Hidden input for SkillID -->

                        <div class="mb-3">
                            <label for="editSkillParentID" class="form-label">SkillParentID</label>
                            <select name="SkillParentID">
                                <option value="0">No Parent</option>
                                @foreach (var item in Model.AllSkills)
                                {
                                    <option value="@item.SkillID">@item.SkillID<span>-</span>@item.SkillName</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editSkillName" class="form-label">Skill Name</label>
                            <input type="text" class="form-control" id="editSkillName" name="SkillName" required value="">
                        </div>
                        <!-- Thêm các trường khác nếu cần -->
                        <button type="submit" asp-page-handler="ForUpdate" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap JS và Popper.js (cần phải đặt sau thẻ body) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        function confirmDelete(skillID) {
            var result = confirm("Are you sure you want to delete this skill?");
            if (result) {
                // Thực hiện xóa nếu người dùng chọn "OK"
                // Thêm mã xóa kỹ năng ở đây, truyền skillID về hàm deleteSkill
                deleteSkill(skillID);
            } else {
                // Hủy bỏ xóa nếu người dùng chọn "Cancel" (hoặc "No")
            }
        }

        function deleteSkill(skillID) {
            // Gửi yêu cầu xóa kỹ năng với skillID đến server
            // Ví dụ sử dụng AJAX
            $.ajax({
                url: '@(UrlConstant.ApiBaseUrl)/Skill/DeleteSkillById/' + skillID, // Update the URL based on your controller and action
                headers: {
                    "ngrok-skip-browser-warning": true,
                    "Authorization": "Bearer " + "@(HttpContextAccessor.HttpContext.Session.GetString("token"))",
                },
                type: 'DELETE', // You might use POST or DELETE depending on your server configuration
                success: function (result) {
                    // Xử lý kết quả sau khi xóa (cập nhật giao diện, thông báo, v.v.)
                    // Ví dụ: location.reload(); để làm mới trang sau khi xóa
                    location.reload();
                },
                error: function (error) {
                    console.error('Error deleting skill:', error);
                }
            });
        }
        window.onload = function () {
            FomatPagination();
        };
        function FomatPagination() {
            for (let i = 1; i <= @Model.NumberOfPage; i++) {
                if (i == 1) {
                    document.getElementById('pagin_' + i).style.display = "inline-block";
                    continue;
                }
                if (i == @Model.PageNo || i == @Model.PageNo+1 || i == @Model.PageNo-1 || i == @Model.PageNo+2 || i == @Model.PageNo-2) {
                    document.getElementById('pagin_' + i).style.display = "inline-block";
                    continue;
                }
                if (i == @Model.NumberOfPage ) {
                    document.getElementById('pagin_' + i).style.display = "inline-block";
                    continue;
                }
                document.getElementById('pagin_' + i).style.display = "none";
            }
            for (let i = 1; i <= @Model.PageNo; i++) {
                if (document.getElementById('pagin_' + i).style.display == "none") {
                    document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                    break;
                }
            }
            for (let i = @Model.PageNo; i <= @Model.NumberOfPage; i++) {
                if (document.getElementById('pagin_' + i).style.display == "none") {
                    document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                    break;
                }
            }
        }
        function OpenUpdateSkill(skillID) {
        var skillid = parseInt(document.getElementById("SkillID_" + skillID).innerHTML);
        document.getElementsByName("SkillParentID")[0].value = 0;
        if (document.getElementById("ParentID_" + skillID) === null) {
        } else {
            var parentid = parseInt(document.getElementById("ParentID_" + skillID).innerHTML);
            document.getElementsByName("SkillParentID")[1].value = parentid;
        }
        var skillname = document.getElementById("SkillName_" + skillID).innerHTML;
        document.getElementsByName("SkillID")[0].value = skillID;
        document.getElementsByName("SkillName")[1].value = skillname;
        }
    </script>
</body>