@page
@model OpusLink.Admin.Hosted.Pages.ManageUser.ViewsModel
@{
}
<link rel="stylesheet" href="~/css/ManagerUser.css">
<style>
    .path-admin {
        line-height: 40px;
        background-color: sienna;
        color: white;
        width: 99.5%;
        margin: 0px 0px;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 5px;
    }

    #order-table-admin {
        margin-top: -30px;
    }

    #orders {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #orders td,
        #orders th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #orders tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #orders tr:hover {
            background-color: #ddd;
        }

        #orders th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: gray;
            color: white;
        }

    #order-title {
        line-height: 40px;
        padding: 15px;
    }

    /*pagination*/
    .pagin {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: none;
        transition: background-color 0.2s;
    }

        .pagin:hover {
            background-color: #0088CC;
            color: white;
        }

    #product-title-header {
        line-height: 40px;
        padding: 15px;
        display: flex;
        width: 96.5%;
    }

        #product-title-header #filter {
            display: flex;
        }

    #customer-title-1 {
        width: 65%;
        padding-bottom: 25px;
    }

        #customer-title-1 input[type="text"] {
            line-height: 30px;
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: 80%;
            padding-left: 10px;
        }

        #customer-title-1 input[type="submit"] {
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: auto;
            height: auto;
        }

    .delete {
        /* CSS chung cho button */
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .active {
        /* Màu xanh cho trạng thái Active */
        background-color: green;
        color: white;
    }

    .deactive {
        /* Màu đỏ cho trạng thái Deactive */
        background-color: red;
        color: white;
    }

</style>
<body>
    <div class="path-admin">Danh sách Người dùng</div>
    <form method="post">
    <div id="content-main-dashboard">
        <div id="product-title-header">
                <div id="customer-title-1">
                    <input type="text" name="Search_Str" value="@Model.filter.SearchStr" class="form-control" placeholder="Search by Name">
                    <button class="btn btn-outline-secondary" type="submit" asp-page-handler="ForSearch" name="pageNo_1" value="1">Search</button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3 --bs-primary">
                    <!-- Combobox -->
                    <select id="congViecSelect" class="form-select --bs-primary" aria-label="Choose skill">
                        <option selected>AllSkill</option>
                        @foreach (var item in Model.listSkill)
                        {
                            <option value="@item.SkillID">@item.SkillName</option>
                        }

                    </select>
                </div>
            
        </div>

        <div id="order-table-admin">
            <table id="orders">
                <tr>
                    <th>Id</th>
                    <th>Tên người dùng</th>
                    <th>Ảnh hồ sơ</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày sinh</th>
                    <th>Trạng thái</th>
                </tr>
                @foreach (var item in Model.listUser)
                {
                    <tr>
                        <td><a asp-page="/ManageUser/UserDetail" asp-route-id="@item.Id">#@item.Id</a></td>
                        <td>@item.UserName</td>
                        <td>
                            @{
                                if (item.UserImageBytes != null && item.UserImageBytes.Length > 0)
                                {
                                    var base64Image = Convert.ToBase64String(item.UserImageBytes);
                                    var imgSrc = $"data:image/png;base64,{base64Image}";
                                    <img id="profileImage" src="@imgSrc" style="width:auto;height:100px;display:block" />
                                }
                                else
                                {
                                    <img id="profileImage" src="/img/default.png" style="width:auto;height:100px;display:block;margin-bottom:10px" />
                                }


                            }

                        </td>
                        <td>@item.PhoneNumber</td>

                        <td>@item.Address</td>
                        @* <td>@((cus.CreatedAt == null ? DateTime.Now : (DateTime)cus.CreatedAt).ToString("dd/MM/yyyy"))</td> *@
                        <td>@item.Dob</td>
@*                         <td>
                            <a class="delete" id="@item.Id"
                           asp-page="/ManageUser/UserDetail" asp-route-id="@item.Id"
                           asp-page-handler="Active">@(item.Status == 1 ? "Active" : "Deactive")</a>
                        </td> *@
                        <td>
                                <form asp-page="/ManageUser/UserDetail" asp-route-id="@item.Id" asp-page-handler="Active" method="post">
                                    <button type="submit" class="delete @(item.Status == 1 ? "active" : "deactive")" id="@item.Id">
                                        @(item.Status == 1 ? "Active" : "Deactive")
                                    </button>
                                </form>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div style="display:flex;justify-content:center;">
            @for (int i = 1; i <= Model.NumberOfPage; i++)
            {
                @if (i == Model.PageNo)
                {
                    <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                        <button class="pagin" style="background-color:#0088CC; color:white" type="submit" asp-page-handler="ForSearch" name="pageNo_@i" value="@i">@i</button>
                    </div>
                }
                else
                {
                    <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                        <button class="pagin" type="submit" asp-page-handler="ForSearch" name="pageNo_@i" value="@i">@i</button>
                    </div>
                }
            }
        </div>
    </div>
    </form>
    <!-- Modal -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Bạn có chắc chắn muốn thực hiện hành động này?</p>
            <button id="confirmButton">Xác nhận</button>
            <button id="cancelButton">Hủy</button>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        FomatPagination();
    };
    function FomatPagination() {
        for (let i = 1; i <= @Model.NumberOfPage; i++) {
            if (i == 1) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            if (i == @Model.PageNo || i == @Model.PageNo+1 || i == @Model.PageNo-1 || i == @Model.PageNo+2 || i == @Model.PageNo-2) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            if (i == @Model.NumberOfPage ) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            document.getElementById('pagin_' + i).style.display = "none";
        }
        for (let i = 1; i <= @Model.PageNo; i++) {
            if (document.getElementById('pagin_' + i).style.display == "none") {
                document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                break;
            }
        }
        for (let i = @Model.PageNo; i <= @Model.NumberOfPage; i++) {
            if (document.getElementById('pagin_' + i).style.display == "none") {
                document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                break;
            }
        }
    }
</script>
<script>
    // JavaScript để hiển thị và ẩn modal
    var modal = document.getElementById("confirmationModal");
    var confirmButton = document.getElementById("confirmButton");
    var cancelButton = document.getElementById("cancelButton");

    // Khi người dùng nhấp vào nút "Active" hoặc "Deactive"
    var buttons = document.querySelectorAll(".delete");
    buttons.forEach(function (button) {
        button.addEventListener("click", function () {
            modal.style.display = "block";
        });
    });

    // Khi người dùng nhấp vào nút xác nhận trong modal
    confirmButton.onclick = function () {
        // Thực hiện hành động tương ứng ở đây
        modal.style.display = "none";
    };

    // Khi người dùng nhấp vào nút hủy trong modal
    cancelButton.onclick = function () {
        modal.style.display = "none";
    };

    // Khi người dùng nhấp vào nút đóng (×) trong modal
    var closeButtons = document.querySelectorAll(".close");
    closeButtons.forEach(function (closeButton) {
        closeButton.addEventListener("click", function () {
            modal.style.display = "none";
        });
    });

    // Khi người dùng nhấp ra ngoài modal, nó sẽ đóng modal
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
</script>