@page
@using OpusLink.Shared.Constants
@model OpusLink.Admin.Hosted.Pages.ManageUser.ViewsModel
@inject IHttpContextAccessor HttpContextAccessor;
@{
}
<link rel="stylesheet" href="~/css/ManagerUser.css">
<script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
<style>
    .path-admin {
        line-height: 40px;
        background-color: sienna;
        color: white;
        width: 99.5%;
        margin: 0px 0px;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 5px;
    }

    #order-table-admin {
        margin-top: -30px;
    }

    #orders {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #orders td,
        #orders th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #orders tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #orders tr:hover {
            background-color: #ddd;
        }

        #orders th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: gray;
            color: white;
        }

    #order-title {
        line-height: 40px;
        padding: 15px;
    }

    /*pagination*/
    .pagin {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: none;
        transition: background-color 0.2s;
    }

        .pagin:hover {
            background-color: #0088CC;
            color: white;
        }

    #product-title-header {
        line-height: 40px;
        padding: 15px;
        display: flex;
        width: 96.5%;
    }

        #product-title-header #filter {
            display: flex;
        }

    #customer-title-1 {
        width: 65%;
        padding-bottom: 25px;
    }

        #customer-title-1 input[type="text"] {
            line-height: 30px;
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: 80%;
            padding-left: 10px;
        }

        #customer-title-1 input[type="submit"] {
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: auto;
            height: auto;
        }

    .delete {
        /* CSS chung cho button */
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .active {
        /* Màu xanh cho trạng thái Active */
        background-color: green;
        color: white;
    }

    .deactive {
        /* Màu đỏ cho trạng thái Deactive */
        background-color: red;
        color: white;
    }

</style>
<body>
    <div class="path-admin">Danh sách Người dùng</div>
    <form method="post">
    <div id="content-main-dashboard">
        <div id="product-title-header">
                <div id="customer-title-1">
                    <input type="text" name="Search_Str" value="@Model.filter.SearchStr" class="form-control" placeholder="Tìm kiếm theo tên tài khoản">
                    <button class="btn btn-outline-secondary" type="submit" asp-page-handler="ForSearch" name="pageNo_1" value="1">Tìm kiếm</button>
                </div>
                @* <div class="d-flex justify-content-between align-items-center mb-3 --bs-primary">
                    <!-- Combobox -->
                    <select id="congViecSelect" class="form-select --bs-primary" aria-label="Choose skill">
                        <option selected>Tất cả kĩ năng</option>
                        @foreach (var item in Model.listSkill)
                        {
                            <option value="@item.SkillID">@item.SkillName</option>
                        }

                    </select>
                </div> *@
            
        </div>

        <div id="order-table-admin">
            <table id="orders">
                <tr>
                    <th>Id</th>
                    <th>Tên người dùng</th>
                    <th>Ảnh hồ sơ</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày sinh</th>
                    <th>Số lượt báo xấu</th>
                    <th>Trạng thái</th>
@*                     <th></th> *@
                </tr>
                @foreach (var item in Model.listUser)
                {
                    <tr>
                        <td><a asp-page="/ManageUser/UserDetail" asp-route-id="@item.Id">#@item.Id</a></td>
                            @if (@item.Status == 1)
                            {
                                <td>@item.UserName <a class="delete @(item.Status == 1 ? "active" : "deactive")" style="text-decoration:none">Đang hoạt động</a></td>
                            }
                            else
                            {
                                <td>@item.UserName <a class="delete @(item.Status == 1 ? "active" : "deactive")" style="text-decoration:none">Đã bị khóa</a></td>
                            }
                        <td>
                            @{
                                if (item.UserImageBytes != null && item.UserImageBytes.Length > 0)
                                {
                                    var base64Image = Convert.ToBase64String(item.UserImageBytes);
                                    var imgSrc = $"data:image/png;base64,{base64Image}";
                                    <img id="profileImage" src="@imgSrc" style="width:auto;height:100px;display:block" />
                                }
                                else
                                {
                                    <img id="profileImage" src="/img/default.png" style="width:auto;height:100px;display:block;margin-bottom:10px" />
                                }
                            }
                        </td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        @* <td>@((cus.CreatedAt == null ? DateTime.Now : (DateTime)cus.CreatedAt).ToString("dd/MM/yyyy"))</td> *@
                            <td>@item.Dob?.ToString("yyyy-MM-dd")</td>
                        <td>@item.TotalReport <a asp-page="/ManageUser/ViewsListReport" asp-route-id="@item.Id"><i class="fa-solid fa-list-check"></i></a></td>
                        <td>
                            @if(@item.Status == 1){
                                <button type="button" class="delete @(item.Status == 0 ? "active" : "deactive") openModal" id="@item.Id" data-userid="@item.Id">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            }else{
                                <button type="button" class="delete @(item.Status == 0 ? "active" : "deactive") show" id="@item.Id" data-userid="@item.Id">
                                        <i class="fa-solid fa-circle-check"></i>
                                </button>
                            }
                        </td>
@*                             <td><a asp-page="/ManageUser/ViewsListReport" asp-route-id="@item.Id"><i class="fa-solid fa-list-check"></i></a></td> *@
                    </tr>
                }
            </table>
        </div>

        <div style="display:flex;justify-content:center;">
            @for (int i = 1; i <= Model.NumberOfPage; i++)
            {
                @if (i == Model.PageNo)
                {
                    <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                        <button class="pagin" style="background-color:#0088CC; color:white" type="submit" asp-page-handler="ForSearch" name="pageNo_@i" value="@i">@i</button>
                    </div>
                }
                else
                {
                    <div style="display:inline-block;margin:10px 5px 10px 5px" id="pagin_@i">
                        <button class="pagin" type="submit" asp-page-handler="ForSearch" name="pageNo_@i" value="@i">@i</button>
                    </div>
                }
            }
        </div>
    </div>
    </form>
    <!-- Modal -->
    <div id="myModal" class="modal">

        <!-- Nội dung modal -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="modalForm">
                <input type="hidden" id="modalUserID" name="userID" />
                <h3 style="text-align: center;">Khóa tài khoản</h3>
                <label for="cutoffDate">
                    Tài khoản bị khóa sẽ không thể đăng nhập vào hệ thống trong thời gian quy định. Hết thời gian đó,
                    tài khoản sẽ  được kích hoạt lại khi người dùng đăng nhập.
                </label>
                <br />
                <br />
                <label for="time">Chọn thời gian cấm đến</label><br>
                <input type="date" id="cutoffDate" name="cutoffDate" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"><br>
                <label for="reason">Lý do cấm tài khoản</label><br>
                <textarea id="reason" name="reason" rows="4" cols="50"></textarea><br>
                <button type="submit" class="confirm-button" onclick="submitForm(this.id)">Xác nhận</button>
            </form>
        </div>
    </div>
</body>
<script>
    window.onload = function () {
        FomatPagination();
    };
    function FomatPagination() {
        for (let i = 1; i <= @Model.NumberOfPage; i++) {
            if (i == 1) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            if (i == @Model.PageNo || i == @Model.PageNo+1 || i == @Model.PageNo-1 || i == @Model.PageNo+2 || i == @Model.PageNo-2) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            if (i == @Model.NumberOfPage ) {
                document.getElementById('pagin_' + i).style.display = "inline-block";
                continue;
            }
            document.getElementById('pagin_' + i).style.display = "none";
        }
        for (let i = 1; i <= @Model.PageNo; i++) {
            if (document.getElementById('pagin_' + i).style.display == "none") {
                document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                break;
            }
        }
        for (let i = @Model.PageNo; i <= @Model.NumberOfPage; i++) {
            if (document.getElementById('pagin_' + i).style.display == "none") {
                document.getElementById('pagin_' + i).insertAdjacentHTML("afterend", "<div style=\"display: inline-block;margin:10px 5px 10px 5px\"><p style=\"margin: 10px 10px 10px 10px\">. . .</p></div>");
                break;
            }
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button.show").click(function () {
            var userID = $(this).data("userid");

            // Lỗi dữ liệu
            console.log(userID);

            // Ajax request
            $.ajax({
                url: `@(UrlConstant.ApiBaseUrl)/User/UnBanUser?userId=` + userID,
                headers: {
                    "ngrok-skip-browser-warning": true,
                    "Authorization": "Bearer " + "@(HttpContextAccessor.HttpContext.Session.GetString("token"))",
                },
                method: 'PATCH',
                contentType: 'application/json',
                success: function (response) {
                    alert("Mở khóa tài khoản thành công!");
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert("Mở khóa tài khoản thất bại!");
                }
            });

            // Đóng modal sau khi submit
            $("#myModal").css("display", "none");
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Open Modal
        $(".openModal").click(function () {
            var userID = $(this).data("userid");
            $("#modalUserID").val(userID);
            $("#cutoffDate").val(""); // Xóa giá trị của trường input date
            $("#reason").val(""); // Xóa giá trị của trường textarea
            $("#myModal").css("display", "block");
        });

        // Close Modal
        $(".close").click(function () {
            $("#myModal").css("display", "none");
        });

        // Submit Form
        $("#modalForm").submit(function (e) {
            e.preventDefault();
            var userID = $("#modalUserID").val();
            var cutoffDate = $("#cutoffDate").val(); // Lấy giá trị từ trường input date
            var reason = $("#reason").val(); // Lấy giá trị từ trường textarea

            // Lỗi dữ liệu
            console.log(userID);
            console.log(cutoffDate);
            console.log(reason);

            // Ajax request
            $.ajax({
                url: `@(UrlConstant.ApiBaseUrl)/User/BanUser?banReason=` + reason + `&endBanDate=` + cutoffDate + `&userId=` + userID,
                headers: {
                    "ngrok-skip-browser-warning": true,
                    "Authorization": "Bearer " + "@(HttpContextAccessor.HttpContext.Session.GetString("token"))",
                },
                method: 'PATCH',
                contentType: 'application/json',
                success: function (response) {
                    alert("Khóa tài khoản thành công!");
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert("Khóa tài khoản thất bại!");
                }
            });

            // Đóng modal sau khi submit
            $("#myModal").css("display", "none");
        });
    });
</script>