@page
@model OpusLink.Admin.Hosted.Pages.ManageUser.ViewsModel
@{
}

<style>
    .path-admin {
        line-height: 40px;
        background-color: sienna;
        color: white;
        width: 99.5%;
        margin: 0px 0px;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 5px;
    }
    #order-table-admin {
        margin-top: -30px;
    }

    #orders {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #orders td,
        #orders th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #orders tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #orders tr:hover {
            background-color: #ddd;
        }

        #orders th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: gray;
            color: white;
        }

    #order-title {
        line-height: 40px;
        padding: 15px;
    }

    #paging {
        text-align: center;
        margin-top: 15px;
    }

    .pagination {
        display: inline-block;
        text-align: center;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: sienna;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }

    #product-title-header {
        line-height: 40px;
        padding: 15px;
        display: flex;
        width: 96.5%;
    }

        #product-title-header #filter {
            display: flex;
        }

    #customer-title-1 {
        width: 65%;
        padding-bottom: 25px;
    }

        #customer-title-1 input[type="text"] {
            line-height: 30px;
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: 80%;
            padding-left: 10px;
        }

        #customer-title-1 input[type="submit"] {
            border-radius: 10px;
            border: 1px solid saddlebrown;
            width: auto;
            height: auto;
        }
</style>
<body>
<div class="path-admin">User LIST</div>

<div id="content-main-dashboard">
    <div id="product-title-header">
        <form id="filter" style="width: 80%;">
            <div id="customer-title-1">
                <input type="text" name="txtSearch" placeholder="Enter name to search" value="" @* @Model.Search *@ />
                <input type="submit" value="Search" />
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3 --bs-primary">
                <!-- Combobox -->
                <select id="congViecSelect" class="form-select --bs-primary" aria-label="Choose skill">
                    <option selected>Skill</option>
                    <option value="1l">Công việc A</option>
                    <option value="congviec-2.html">Công việc B</option>
                    <option value="congviec-3.html">Công việc C</option>
                </select>
            </div>
        </form>
    </div>

    <div id="order-table-admin">
        <table id="orders">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Profile Picture</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Date Of Birth</th>
                <th>Active</th>
            </tr>
            @foreach (var item in Model.listUser)
            {
                <tr>
                    <td>@item.Id</td>
                        <td>@item.UserName</td>
                    <td>@item.ProfilePicture</td>
                    <td>@item.PhoneNumber</td>
              
                    <td>@item.Address</td>
                    @* <td>@((cus.CreatedAt == null ? DateTime.Now : (DateTime)cus.CreatedAt).ToString("dd/MM/yyyy"))</td> *@
                    <td>@item.Dob</td>
                    <td>
                        <a class="delete" id="@item.Id"
                           asp-page="/Admin/Customer/Index" asp-route-id="@item.Id"
                           asp-page-handler="Active">@(item.Status == 1 ? "Active" : "Deactive")</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div id="paging">
        <div class="pagination">
            @* @foreach (var item in Model.PagesLink)
            {
                @Html.Raw(item)
            } *@
        </div>
    </div>
</div>
</body>